<%= title "Member Statistics" %>

<div class="table-responsive">
    <table class="table caption-top">
        <caption><i class="bi bi-clipboard-data-fill"></i> Statistics on Member Grades</caption>
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Member Count</th>
            <th scope="col">Percentage</th>
        </tr>
        </thead>
        <tbody>
        <% Member.grades.keys.each do |grade| %>
            <tr>
                <th scope="row"><%= grade_translation(grade) %></th>
                <td><%= @grade_count[grade].to_i %></td>
                <% if @member_count == 0 %>
                    <td>0%</td>
                <% else %>
                    <td><%= (@grade_count[grade].to_i * 100 / @member_count.to_i).to_s + "%" %></td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
            <th scope="row">Total</th>
            <td><%= @member_count %></td>
            <td>100%</td>
        </tr>
        </tfoot>
    </table>
</div>
<br />
<div class="table-responsive">
    <table class="table caption-top">
        <caption><i class="bi bi-clipboard-data-fill"></i> Statistics on Member Departments</caption>
        <thead>
        <tr>
            <th style="width: 5%;" scope="col">Year</th>
            <th scope="col">Department</th>
            <th scope="col">Share</th>
        </tr>
        </thead>
        <tbody>
        <% Member.grades.keys.each do |grade| %>
            <tr>
                <th scope="row"><%= grade_translation(grade) %></th>
                <td>
                    <% Member::DEPARTMENT_COURSES.keys.each do |department| %>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item" style="flex: 1;"><%= department_translation(department) %></li>
                            <li class="list-group-item flex-fill" style="flex: 1;"><%= @department_count[[grade, department.to_s]].to_i %></li>
                        </ul>
                    <% end %>
                </td>
                <td>
                    <ul class="list-group">
                        <% if @grade_count[grade].to_i == 0 %>
                            <li class="list-group-item">0%</li>
                            <li class="list-group-item">0%</li>
                        <% else %>
                            <% Member::DEPARTMENT_COURSES.keys.each do |department| %>
                                <li class="list-group-item"><%= (@department_count[[grade, department.to_s]].to_i * 100 / @grade_count[grade].to_i).to_s + "%" %></li>
                            <% end %>
                        <% end %>
                    </ul>
                </td>
            </tr>
        <% end %>
        <tr>
            <th scope="row">Combined</th>
            <td>
                <% Member::DEPARTMENT_COURSES.keys.each do |department| %>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item" style="flex: 1;"><%= department_translation(department) %></li>
                        <li class="list-group-item flex-fill" style="flex: 1;"><%= @total_department_count[department.to_s].to_i %></li>
                    </ul>
                <% end %>
            </td>
            <td>
                <ul class="list-group">
                    <% if @member_count.to_i == 0 %>
                        <li class="list-group-item">0%</li>
                        <li class="list-group-item">0%</li>
                    <% else %>
                        <% Member::DEPARTMENT_COURSES.keys.each do |department| %>
                            <li class="list-group-item"><%= (@total_department_count[department.to_s].to_i * 100 / @member_count.to_i).to_s + "%" %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="row">Total</th>
            <td><%= @member_count %></td>
            <td>100%</td>
        </tr>
        </tfoot>
    </table>
</div>
<br />
<%= link_to site_admins_index_path, class:"link-offset-2 link-underline link-underline-opacity-0" do %>
    <i class="bi bi-arrow-left-square"></i>
    Back To Admin Index
<% end %>
