<h1>メンバー情報の編集</h1>

<%= form_with model: @member, method: :patch  do |member| %>
    <table>
      <tr>
        <th>名前</th>
        <td><%= member.text_field :name, placeholder: "名前の入力" %></td>
      </tr>
      <tr>
        <th>email</th>
        <td><%= member.text_field :email, placeholder: "メールの入力" %></td>
      </tr>
      <tr>
        <th>学籍番号</th>
        <td><%= member.text_field :student_id, placeholder: "半角で入力してください" %></td>
      </tr>
      <tr>
        <th>自己紹介</th>
        <td><%= member.text_area :intro, placeholder: "自己紹介" %></td>
        <th>学習中プログラミング言語</th>
        <td>
        <% Member::PROGRAMMING_LANGUAGES.each do |pl_num, language| %>
          <% if (pl_num & member.object.learning_programming_languages) != 0 %>
          <p>selected</p>
            <%= member.check_box :selected_languages, { multiple: true }, pl_num, {checked: true} %>
            <%= member.label :selected_languages, language, value: pl_num %>
          <% else %>
          <p>no</p>
            <%= member.check_box :selected_languages, { multiple: true }, pl_num, {} %>
            <%= member.label :selected_languages, language, value: pl_num %>
          <% end %>
        <% end %>
        </td>
      </tr>
    </table>

    <%= member.submit '変更を保存' %>
<% end %>

<%= link_to '戻る', member_path(@member.id), class: 'link-offset-2 link-underline link-underline-opacity-0' %>