<% flash.each do |type, msg| %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>

<h1>メンバー一覧</h1>
<%= button_to "INCREMENT ALL GRADES", { :controller => "members", :action => "increment_grade"}, data: { turbo_method: :delete, turbo_confirm: "Are you sure about that?" }, class: 'btn btn-danger' %>
<br />
<%= button_to "DECREMENT ALL GRADES", { :controller => "members", :action => "decrement_grade"}, data: { turbo_method: :delete, turbo_confirm: "Are you sure about that?" }, class: 'btn btn-danger' %>
<br />

<% @members.each do |member| %>
    <div class="card mb-3" style="max-width: 540px; height: 120px">
      <div class="row g-0">
        <div class="col-md-4" style="max-width: 200px; max-height: 150px;">
          <%= image_tag member.get_profile_image, class: 'img-fluid rounded-start' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= link_to member.name, member_path(member.id), class: 'link-offset-2 link-underline link-underline-opacity-0' %></h5>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Show activities</a>
      </div>
    </div>
  </div>
</div>


<div class="frame-parent">
  <div class="rectangle-parent">
    <div class="frame-child"></div>
    <div class="frame-group">
      <div class="image-wrapper">
        
      </div>
      <div class="rectangle-group">
        <div class="frame-item"></div>
        <div class="div">26卒</div>
      </div>
    </div>
    <div class="name-card">
      <h3 class="h3">岩本好生</h3>
    </div>
    <div class="frame-wrapper">
      <div class="parent">
        <div class="div1">
          サークル運営の中心メンバーとして活動しています！
        </div>
        <div class="show-activity-wrapper">
          <div class="show-activity">
            <div class="show-activity-child"></div>
            <div class="show-activity1">Show activity</div>
          </div>
        </div>
      </div>
    </div>