<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item me-2">
        <%= link_to 'プロファイル', member_path(@member), class: 'btn btn-outline-dark profile-button-dark' %>
      </li>
      <div class="d-flex">
        <% if member_signed_in? && current_member.id == @member.id %>
          <li class="nav-item me-2">
            <%= link_to '編集', edit_member_path, class: 'btn btn-outline-info' %>
          </li>
          <% if current_member.member_role != "user" %>
            <li class="nav-item me-2">
                <%= link_to 'Admin', site_admins_index_path, class: 'btn btn-outline-warning' %>
            </li>
          <% end %>
          <li class="nav-item me-2">
            <%= button_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'btn btn-outline-danger' %> 
          </li>
        <% end %>
      </div>
    </ul>
  </div>
  <div class="text-center" style="width: 100%;">
    <%= image_tag @member.get_profile_image, class: "profile-image", style: 'max-width: 200px; max-height: 150px;' %>
  </div>
  <div class="card-body">
    <div class="text-center mb-4">
      <h1 class="card-title"><%= @member.name %></h1>
      <p class="card-text"><%= @member.intro %></p>
    </div>
    <div class="flex-container">
      <div class="flex-column">
        <div class="content">
          <b><h2>ユーザー詳細</h2></b>
        </div>
        <div class="content">
          <h5>学年：<%= @member.grade %></h5>
        </div>
        <div class="content">
          <h5>卒年：<%= @member.graduation_year %>卒</h5>
        </div>
        <div class="content">
          <% if member_signed_in? %>
            <h5>メール：<%= @member.email %></h5>
          <% end %>
        </div>
      </div>
      <div class="flex-column">
        <div class="content">
          <b><h2>学科・コース</h2></b>
        </div>
        <div class="content">
          <h5>学科： <%= @member.department %></h5>
        </div>
        <div class="content">
          <h5>コース： </h5>
          <% if @member.grade != '1年生' %>
            <h5><%= @member.course %></h5>
          <% else %>
            <h5>コース選択中</h5>
          <% end %>
        </div>
      </div>
      <div class="flex-column">
        <div class="content">
          <b><h2>学んでるスキル</h2></b>
        </div>
        <div class="content">
          <% languageList = @member.calculate_select_pl(@member.learning_programming_languages) %>
          <% if languageList.empty? %>
            <h5>ー学んでるスキルなし</h5>
          <% else %>
            <% languageList.each do |language| %>
              <h5><%= language %></h5>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>