<div class = "container">
  <h1><%= @member.name %></h1>
  <div class="col-md-4" style="max-width: 200px; max-height: 150px;">
    <%= image_tag @member.get_profile_image, class: 'img-fluid rounded-start' %>
  </div>
  <h1><%= @member.grade%></h1>
  <h2><%= @member.graduation_year %>卒</h2>
  <h1><%= @member.department %></h1>
  <p><%= @member.intro %><p>
  <h1><%= @member.calculate_select_pl(@member.learning_programming_languages)%></h1>
  <% if @count > 0 %>
    <h2>記事一覧</h2>
  <% end %>
  <% @activities.reverse_each do |activity| %>
    <div class="card mb-3" style="max-width: 540px; height: 120px">
      <div class="row g-0">
        <div class="col-md-4" style="max-width: 200px; max-height: 150px;">
          <%= image_tag activity.get_activity_image, class: 'img-fluid rounded-start' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= link_to activity.title, activity_path(activity.id), class: 'link-offset-2 link-underline link-underline-opacity-0' %></h5>
            <h6><%= link_to activity.member.name, member_path(activity.member_id), class: 'link-offset-2 link-underline link-underline-opacity-0' %></h6>
            <p class="card-text"><small class="text-body-secondary"><%= activity.created_at.strftime('%Y/%m/%d') %></small></p>
          </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to '戻る', :back, class: 'link-offset-2 link-underline link-underline-opacity-0' %>
  <%= link_to 'To top page', root_path, class: 'link-offset-2 link-underline link-underline-opacity-0' %>

  <% if member_signed_in? && current_member.id == @member.id %>
    <div class="d-flex justify-content-start">
      <%= link_to 'Profile Edit', edit_member_path, class: 'btn btn-outline-info me-2' %>
      <% if current_member.member_role != "user" %>
        <%= link_to 'Admin', admin_index_path, class: 'btn btn-outline-warning' %>
      <% end %>
      <%= button_to 'Logout', destroy_member_session_path, method: :delete, class: 'btn btn-outline-danger me-2' %> 
    </div>
  <% end %>
</div>
