<h1><%= @member.name %></h1>
<div class="col-md-4" style="max-width: 200px; max-height: 150px;">
  <%= image_tag @member.get_profile_image, class: 'img-fluid rounded-start' %>
</div>
<h1><%= @member.grade%></h1>
<h2><%= @member.graduation_year %>卒</h2>
<h1><%= @member.department %></h1>
<p><%= @member.intro %><p>
<h1><%= @member.calculate_select_pl(@member.learning_programming_languages)%></h1>
<%= link_to '戻る', :back, class: 'link-offset-2 link-underline link-underline-opacity-0' %>
<%= link_to 'To top page', root_path, class: 'link-offset-2 link-underline link-underline-opacity-0' %>


<% if member_signed_in? && current_member.id == @member.id %>
  <div class="d-flex justify-content-start">
    <%= link_to 'Profile Edit', edit_member_path, class: 'btn btn-outline-info me-2' %>
    <% if current_member.admin? %>
      <%= link_to 'Admin', admin_index_path, class: 'btn btn-outline-warning' %>
    <% end %>
    <%= link_to 'Member Invite', new_member_invitation_path, class: 'btn btn-outline-secondary' %>
    <%= button_to 'Logout', destroy_member_session_path, method: :delete, class: 'btn btn-outline-danger me-2' %> 
  </div>
<% end %>
