<%= title "投稿内容の編集" %>
<% if @activity.errors.any? %>
    <div class="alert alert-danger">
        <p><strong>タイトル</strong> または <strong>本文</strong> が未記入です</p>
        <ul>
            <% @activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div id="error-message" style="color: red; display: none; font-weight: bold;"></div>

<div class="markdown-container">
    <%= button_to '削除する', activity_path(@activity.id), class: "delete-activity", method: :delete, form: { data: { turbo_confirm: '本当に削除しますか？' } } %>
    <%= form_with model: @activity, method: :patch do |activity| %>
        <section class="action-button">
            <% if @activity.published %>
                <%= button_tag '下書き保存', type: 'submit', class: "save-draft", formaction: change_publish_activity_path(@activity) %>
                <%= activity.submit '記事を投稿', class: "post-activity" %>
            <% else %>
                <%= activity.submit '下書き保存', type: 'submit', class: "save-draft", formaction: change_publish_activity_path(@activity) %>
                <%= button_tag '記事を投稿', class: "post-activity" %>
            <% end %>
        </section>
        
        <section class="activity-title-section">
            <%= activity.text_field :title, placeholder: "記事のタイトルを入力してください。（60字以内）", class: "activity-title-input" %>
        </section>
        
        <section class="activity-top-image-section">
            <%= activity.label :activity_image, 'トップ画像を選択する', class: "file_label" %>
            <%= activity.file_field :activity_image, accept: "image/*", type: 'file', class: "file_field" %>
        </section>
        
        <section class="markdown-area">
            <%= activity.text_area :body, placeholder: "Markdown記法で記事を書いてみよう！", id: 'article_markdown_content' %>
            <div class="markdown" id="preview">
            </div>
        </section>
    <% end %>
</div>
