<h1>投稿内容の編集</h1>

<% if @activity.errors.any? %>
  <div class="alert alert-danger">
    <p><strong>タイトル</strong> または <strong>本文</strong> が未記入です</p>
    <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="editor-container">
  <div class="editor">
    <%= form_with model: @activity, method: :patch  do |activity| %>
    
      <div class="mb-3">
        <label for="formFile" class="form-label">トップ画像の選択</label>
        <%= activity.file_field :activity_image, accept: "image/*", class: 'form-control', type: 'file', id: 'formFile' %>
      </div>
    
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <h4 class="col-form-label">記事タイトル</h4>
        </div>
        <div class="col-auto">
          <%= activity.text_field :title, class: 'form-control' %>
        </div>
      </div>
    
      <h4 class="form-label">本文</h4>
      <div>
        <%= activity.text_area :body, class: 'form-control text-area-large', id: 'article_markdown_content' %>
      </div>
      <%= activity.submit '変更を保存', class: 'btn btn-primary mt-3' %>
    <% end %>
    
    <%= link_to '戻る', activity_path(@activity.id), class: 'link-offset-2 link-underline link-underline-opacity-0' %>
  </div>
  
  <div class="markdown preview" id="preview">
    <!-- プレビュー表示エリア -->
  </div>
</div>
