<%= title "活動一覧" %>

<div class="container">
    <div class="header">
        <h1>活動一覧</h1>
        <%= form_with url: activities_path, method: :get, local: true, class: 'search-form' do %>
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Enter activity or author' %>
            <%= submit_tag 'Search', class: 'btn btn-outline-primary' %>
        <% end %>
    </div>
    
    <% if member_signed_in? %>
        <%= link_to '新規投稿', new_activity_path, class: 'btn btn-outline-primary mb-4' %>
    <% end %>
    
    <div class="activities">
        <% @activities.each do |activity| %>
            <% if activity.published == true %>
                <div class="activity-area">
                    <%= link_to activity_path(activity.id), class: 'activity-link-sheet' do %>
                    <% end %>
                    <section class="image-container">
                        <%= image_tag activity.get_activity_image, alt: "Image", class: 'image-field' %>
                    </section>
                    <section class="activity-info">
                        <h3><%= truncate(activity.title, length: 60) %></h3>
                        <p><%= activity.created_at.strftime('%Y/%m/%d') %></small></p>
                        <div class="author">
                            <%= link_to activity.member.name, member_path(activity.member.id) %>
                        </div>
                    </section>
                </div>
            <% end %>
        <% end %>
    </div>
    
    <div class="pagination">
        <%= paginate @activities, theme: 'bootstrap-5' %>
    </div>
</div>
