<div class="container">
  <h1 class="mb-4">活動一覧</h1>

  <% if member_signed_in? %>
    <%= link_to '新規投稿', new_activity_path, class: 'btn btn-outline-primary mb-4' %>
  <% end %>

  <div class="row posts-entry justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 mx-auto"> 
      <% @activities.each do |activity| %>
        <div class="blog-entry row mb-4 border-bottom pb-4"> 
          <div class="col-12 col-md-7 mb-3 mb-md-0 d-flex justify-content-center"> 
            <% image_class = 'img-fluid fixed-height-image border rounded' %>
            <%= image_tag activity.get_activity_image, alt: "Image", class: image_class %>
          </div>
          <div class="col-12 col-md-5 d-flex flex-column"> 
            <p class="card-text"><small class="text-body-secondary"><%= activity.created_at.strftime('%Y/%m/%d') %></small></p>
            <h2><%= activity.title %></h2>
            <p><%= truncate(strip_tags(markdown_to_html(activity.body)), length: 50).html_safe %></p>
            <p class="mt-auto"><%= link_to 'Read', activity_path(activity.id), class: 'btn btn-sm btn-outline-primary' %></p>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <%= paginate @activities, theme: 'bootstrap-5' %>
        </div>
      </div>
    </div>
  </div>
</div>