<%= title "新しい活動記事を投稿" %>

<% if @activity.errors.any? %>
    <div class="alert alert-danger">
        <p><strong>エラーがあります</strong></p>
        <ul>
            <% @activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<div class="markdown-container">
    <%= form_with model: @activity, url: activities_path, method: :post do |activity| %>
        <section class="action-button">
            <%= button_tag '下書き保存', type: 'submit', class: "save-draft", formaction: save_draft_activities_path %>
            <%= activity.submit '記事を投稿', class: "post-activity" %>
        </section>
        
        <section class="activity-title-section">
            <%= activity.text_field :title, placeholder: "記事のタイトルを入力してください。（60字以内）", class: "activity-title-input" %>
        </section>
        
        <section class="activity-top-image-section">
            <%= activity.label :activity_image, 'トップ画像を選択する', class: "file_label" %>
            <div id="error-message" style="color: red; display: none; font-weight: bold;"></div>
            <%= activity.file_field :activity_image, accept: "image/*", type: 'file', id: "image-file_field" %>
        </section>
        
        <section class="markdown-area">
            <%= activity.text_area :body, placeholder: "Markdown記法で記事を書いてみよう！", id: 'article_markdown_content' %>
            <div class="markdown" id="preview">
            </div>
        </section>
    <% end %>
</div>
