<h1>新しい活動記事を投稿</h1>
<!-- form_with部分 -->
<%= form_with model: @activity, url: activities_path, method: :post  do |activity| %>

  <div class="mb-3">
    <label for="formFile" class="form-label">トップ画像の選択</label>
    <%= activity.file_field :activity_image, accept: "image/*", class: 'form-control', type: 'file', id: 'formFile'  %>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <h3 for="inputPassword6" class="col-form-label">記事のタイトル</h3>
    </div>
    <div class="col-auto">
      <%= activity.text_field :title,class: 'form-control'%>
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Must be 8-20 characters long.
      </span>
    </div>
  </div>

  <h3 for="inputPassword5" class="form-label">記事の内容</h3>
  <%= activity.text_area :body, class: 'form-control' %>
  <div id="passwordHelpBlock" class="form-text">
    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
  </div>
	
  <%= activity.submit '投稿' %>
<% end %>

<%= link_to '戻る', activities_path, class: 'link-offset-2 link-underline link-underline-opacity-0' %>