<div class="container">
	<h1><%= @activity.title %></h1>
	<h5>Created: <%= @activity.created_at.strftime('%Y/%m/%d') %></h5>
	<div class="markdown">
		<%== markdown(@activity.body) %>
	</div>

	<%= link_to '戻る', activities_path, class: 'link-offset-2 link-underline link-underline-opacity-0' %>
	<% if member_signed_in? %>
		<%= link_to '編集', edit_activity_path, class: 'link-info link-offset-2 link-underline link-underline-opacity-0' %>
		<%= button_to "削除", activity_path(@activity.id), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } %>
	<% end %>
</div>
