<%= title @activity.title %>

<div class="activity-container">
    <div class="author">
        <%= image_tag @activity.member.get_profile_image, class: 'author-icon' %>
        <%= link_to @activity.member.name, member_path(@activity.member.id), class: "author-name" %>
        <% if member_signed_in? && current_member.id == @activity.member_id %>
            <div class="edit-activity">
                <%= link_to 'Edit', edit_activity_path, class: "edit-activity-button" %>
            </div>
        <% end %>
    </div>
    <h1 class="activity-title">
        <%= @activity.title %>
    </h1>
    <p class="created-day">
        Created: <%= @activity.created_at.strftime('%Y/%m/%d') %>
    </p>
    <div class="markdown">
        <%== markdown(@activity.body) %>
    </div>
</div>
