<div class="container-activity">
  <h1><%= @activity.title %></h1>
  <h5>Created: <%= @activity.created_at.strftime('%Y/%m/%d') %></h5>
  <div class="markdown">
    <%== markdown(@activity.body) %>
  </div>
  <%= link_to '戻る', activities_path, class: 'btn btn-outline-primary' %>
  <% if member_signed_in? && current_member.id == @activity.member_id %>
    <%= link_to '編集', edit_activity_path(@activity), class: 'btn btn-outline-info' %>
    <%= button_to "削除", activity_path(@activity.id), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: 'btn btn-outline-danger' %>
  <% end %>
</div>