<!DOCTYPE html>
<html>
  <head>
    <title>NApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= root_path %>">
            <img src="<%= asset_path('logo.png') %>" width="50" height="50" class="d-inline-block align-text-top">
            Nectgrams
          </a>
        </div>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'About', about_path, class: 'nav-link text-light' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Member', members_path, class: 'nav-link text-light' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Activities', activities_path, class: 'nav-link text-light' %>
          </li>
          <% if member_signed_in? %>
            <li class="nav-item">
              <%= link_to 'YourPage', member_path(current_member.id), class: 'nav-link text-light' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_member_session_path, class: 'nav-link text-light' %>
            </li>
          <% end %>

        </ul>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
