<!DOCTYPE html>
<html>
  <head>
    <title>NApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
    <header>
      <li>
        <%= link_to "トップページ", root_path %>
      </li>
      <% if member_signed_in? %>
        <li>
          <%= button_to "ログアウト", destroy_member_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "ログイン", new_member_session_path %>
        </li>
      <% end %>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
