<!DOCTYPE html>
<html>
<head>
    <title><%= (content_for?(:title) ? content_for(:title) + " | " : "") + "Nect Life" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'tab-icon.png', type: 'image/png' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<header>
    <nav>
        <div class="nav-top">
            <div class="root">
                <%= link_to root_path do %>
                    <img src="<%= asset_path('nect-life-log.png') %>" class="nectlife-log">
                <% end %>
            </div>
            <div class="login-profile">
                <% if member_signed_in? %>
                    <%= link_to member_path(current_member.id) do %>
                        <%= image_tag current_member.get_profile_image, class: 'profile-icon-img' %>
                    <% end %>
                    <div class="new-activity">
                        <%= link_to '投稿する', new_activity_path, class: "new-activity-bottom" %>
                    </div>
                <% else %>
                    <%= link_to 'Log in', new_member_session_path %>
                <% end %>
            </div>
        
        </div>
        <div class="nav-bottom">
            <ul class="nav-links">
                <li class="nav-link">
                    <%= link_to 'About', about_path, class: "nav-link-a" %>
                </li>
                <li class="nav-link">
                    <%= link_to 'Activities', activities_path, class: "nav-link-a" %>
                </li>
                <li class="nav-link">
                    <%= link_to 'Members', members_path, class: "nav-link-a" %>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body style="min-height: 100svh; display: flex; flex-direction: column;">
<br/><br/>
<div class="container" style="flex-grow: 1">
    <% flash.each do |type, msg| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <br/>
    <% end %>
    
    <%= yield %>
</div>
<br/><br/>
</body>
<footer class="footer mt-auto py-3 bg-body-tertiary" style="flex-shrink: 0;" data-bs-theme="dark">
    <div class="container">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; <%= Time.now.year %> Nectgrams</span>
        </div>
    </div>
</footer>
</html>
