<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>チーム一覧</h1>
    <% if member_signed_in? %>
      <%= link_to '新しいチームを作成', new_team_path, class: 'btn btn-outline-primary' %>
    <% end %>
  </div>

  <% if member_signed_in? %>
    <div class="mb-3">
      <%= form_with url: teams_path, method: :get, local: true do %>
        <div class="form-group d-flex align-items-center">
          <label for="filter" class="me-2">フィルタ:</label>
          <%= select_tag :filter, options_for_select([['全てのチーム', 'all'], ['自分が作成したチーム', 'mine']], params[:filter]), onchange: 'this.form.submit();', class: 'form-select form-select-sm', style: 'width: auto;' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% filtered_teams = params[:filter] == 'mine' ? @teams.select { |team| team.master_id == current_member.id } : @teams %>
    <% filtered_teams.each do |team| %>
      <div class="col">
        <div class="card mb-3" style="height: 120px">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                  <%= link_to team.name, team_path(team.id), class: 'link-offset-2 link-underline link-underline-opacity-0' %>
                </h5>
                <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                  <small class="text-body-secondary"><%= team.introduction %></small>
                </p>
                <% if member_signed_in? && current_member.id == team.master_id %>
                  <p class="card-text">
                    <small class="text-body-secondary">Created by：<%= link_to "自分", member_path(current_member.id), class: 'link-offset-2 link-underline link-underline-opacity-0' %></small>
                  </p>
                <% else %>
                  <p class="card-text">
                    <small class="text-body-secondary">Created by：<%= link_to Member.find(team.master_id).name, member_path(team.master_id), class: 'link-offset-2 link-underline link-underline-opacity-0' %></small>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
