<div class = "container">
    <h1><%= @team.name %></h1>
    <h3><%= @team.introduction %></h3>

    <% if member_signed_in? && current_member.id == Member.find(@team.master_id).id %>
        <h3>作成者：自分</h3>
        <%= link_to 'メンバー管理', team_members_path(team_id: @team.id), class: 'btn btn-outline-primary' %>
        <%= link_to 'チーム編集', edit_team_path, class: 'btn btn-outline-primary' %>
        <%= button_to "チームを削除", team_path(@team.id), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？この処理によってチームへの参加リクエスト、参加メンバーは取り消されます" } } %>
    <% else %>
        <h3>作成者：<%= Member.find(@team.master_id).name %></h3>
        <%= link_to 'メンバー一覧', team_members_path(team_id: @team.id), class: 'btn btn-outline-primary' %>
        <% if TeamMember.where(team_id: @team.id, member_id: current_member.id, approved: true).exists? %>
            <p>参加済み</p>
        <% elsif TeamMember.where(team_id: @team.id, member_id: current_member.id, approved: false).exists? %>
            <p>参加リクエスト送信済み</p>
            <%= button_to "参加リスエスト取り消し", team_member_path(@team.id, current_member.id), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } %>
        <% else %>
            <%= form_with model: TeamMember.new, url: team_members_path, method: :post  do |team_member| %>
                <%= team_member.hidden_field :team_id, value: @team.id %>
                <%= team_member.hidden_field :member_id, value: current_member.id %>
                <%= team_member.submit 'チームに参加' %>
            <% end %>
        <% end %>
    <% end %>

    <%= link_to '戻る', teams_path, class: 'link-offset-2 link-underline link-underline-opacity-0' %>
</div>